*, *::after,*::before{
    box-sizing: border-box;
}

:root{
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}


html{
    
    font-size: 62.5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--off-white);
    font-family: 'Poppins', sans-serif;
}

.main-container{
    background-color: var(--white);
    min-height:450px ;
    min-width: 300px;
    max-width: 300px;
    border-radius: 3rem;
    border-bottom-right-radius: 10rem;
    padding:3rem;
}

.date-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    gap:1rem;
}

.date-container label{
    font-weight: 400;
    color: var(--smokey-grey);
    font-size: 1.1rem;
    letter-spacing: 2px;

}

input{
    width: 70px;
    height: 45px;
    border-radius: 0.5rem;
    outline:none;
    border:0;
    border: 1px solid var(--light-grey);
    font-size: 1.8rem;
    padding: 1rem;   
}

input:hover, input:focus{

    border-color: var(--purple);

}

.purple-btn:hover, .purple-btn:active{
    background-color: black;
}


.c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.result{
    display: flex;
    flex-direction: column;
    margin-top: -4rem;
    margin-bottom: 3rem;
 
    
}

.result p{
    margin-bottom:-2rem;
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
}

#year-purple, #month-purple, #day-purple{
    color:var(--purple);
}

hr{
    margin-top: 6rem;
    border: 1px solid var(--light-grey);
    border-top:0;
}

.purple-btn{
    background-color: var(--purple);
    width:60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    padding:1rem;
    border: 0;
    outline: none;
    cursor: pointer;
    position: relative;
    left:35%;
    top:-35px;
}

.arrow-icon{
    width:60%;
}

.alert-day, .alert-month, .alert-year, .alert-empty{
    color: var(--light-red);
    font-style: italic;
    text-transform: none;
    letter-spacing: 0;
    margin-top:0rem;
}

.alert-day{


}

.alert-month{

}

.alert-year{

}

.alert-empty{

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}


@media screen and (min-width:500px)
{
.main-container{

    min-width: 500px;
    min-height:400px ;
    border-radius: 1.5rem;
    border-bottom-right-radius: 10rem;
}

.date-container{
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    letter-spacing: 1.5px;
    gap:2rem;
}

input{
    width: 90px;
    height: 40px;
    border-radius: 0.5rem;
    font-size: 2rem;
   
}


.result p{
    margin-bottom:-6rem;
    font-size: 6rem;
    font-weight: 800;
 
}

.result{
    margin-top: -10rem;
}

hr{
    margin-top: 3rem;
}

.purple-btn{
    left:90%;
    top:-35px;
}

.arrow-icon{
    width: 70%;
}

}