*, *::after,*::before{
    box-sizing: border-box;
}

:root{
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}


html{
    
    font-size: 62.5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--off-white);
}

.main-container{
    background-color: var(--white);
    min-height:450px ;
    min-width: 300px;
    max-width: 300px;
    border-radius: 3rem;
    border-bottom-right-radius: 10rem;
    padding:3rem;
}

.date-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 50px;
    height: 30px;
}


.c{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

